body, html, header {
  margin: none;
  padding: none;
  width: 100%;
}

body {
  background-image: url(https://images.unsplash.com/photo-1524222717473-730000096953?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
}

header {
  background-color: #C0C0C0;
  background-image: url(https://images.unsplash.com/photo-1525034687081-c702010cb70d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 2em;
}

h1 {
  color: #E4E8EB;
  font-size: 3em;
  font-style: italic;
  grid-row: 2 / 3;
  grid-column-start: 1;
  margin: 0;
  padding-left: 20px;
}

.user-profile-display {
  color: #E4E8EB;
  font-size: 22px;
  font-style: italic;
  font-weight: 500;
  grid-row: 1 / 2;
  grid-column-end: 4;
  height: 2em;
  justify-self: end;
  padding-top: 7px;
  width: 16em;
  text-align: center;
}

.search-input{
  background-color: #E4E8EB;
  box-shadow: none;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  height: 1.75em;
  margin: 0;
  outline: none;
  padding: 0;
}

.my-pantry-button,
.recipes-button{
  background-color: #3F5330;
  color: #E4E8EB;
  grid-column-end: 4;
  grid-row: 3 / 4;
  height: 2em;
  justify-self: end;
  margin: 0;
  padding: 0;
  width: 8em;
}

.cards-body,
.pantry-body{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h2 {
  background-color: #3F5330;
  color: #E4E8EB;
  margin: 0;
  text-align: center;
}

.recipe-card,
.recipe-card-to-cook{
  background-color: #E4E8EB;
  border: 3px solid #3F5330;
  border-radius: 6px;
  box-shadow: 4px 4px 7px 0px #2f2a2a;
  display: grid;
  grid-template-areas: 'a';
  height: 25em;
  margin-left: .5em;
  margin-right: .5em;
  margin-top: 1em;
  width: 24em;
}

.displayed-card {
  grid-area: a;
  position: absolute;
  z-index: 0;
}

.recipe-img {
  width: 24em;
}

.recipe-name, .total-cost {
  color: #3F5330
  font-weight: bold;
  text-align: center;
}

.recipe-to-cook-name {
  color: #EEE8AA;
  font-weight: bold;
  text-align: center;
}

.recipe-card-to-cook{
  background-color: #262626;
  border: 4px solid #EEE8AA;
  border-radius: 6px;
  box-shadow: 5px 5px 8px 0px #2f2a2a;
  display: grid;
  grid-template-areas: 'a';
  height: 25em;
  margin-left: .5em;
  margin-right: .5em;
  margin-top: 1em;
  width: 24em;
}

.recipe-to-cook-text {
  color: #EEE8AA;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.hidden-card-cards-body,
.hidden-card-user-recipes,
.hidden-card-to-cook {
  background-color: #FA8A42;
  grid-area: a;
  line-height: 1.2em;
  margin: 2em 0 0 -2em;
  opacity: 0;
  text-align: left;
  transition: all .6s ease-in-out;
  width: 29em;
  z-index: 2;
}

.pantry-body{
  display: grid;
  grid-template-columns: 12em 12em 1fr
}

.user-recipes{
  display: flex;
  flex-wrap: wrap;
  grid-column: 3 / 4;
  width: 100%;
}

.user-pantry{
  background-image: url(https://images.unsplash.com/photo-1525034687081-c702010cb70d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  color: #FFFFFF;
  grid-column: 1 / 2;
  max-width: 10em;
}

.recipe-card > .hidden-card-cards-body:hover,
 .hidden-card-user-recipes:hover,
 .hidden-card-to-cook:hover {
   border-radius: 6px;
   margin-top: 4em;
   opacity: .85;
   transform: scale(1);
   width: 100%;
}

.user-pantry,
.missing-ingredients{
  background-color: #FA8A42;
  background-image: url(https://images.unsplash.com/photo-1525034687081-c702010cb70d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)
  border: 2px solid #3F5330;
  box-shadow: 4px 4px 7px 0px #2f2a2a;
  list-style: none;
  margin-top: 1em;
  padding: .7em;
  width: 24em;
}

.missing-ingredients {
  background-image: url(https://images.unsplash.com/photo-1525034687081-c702010cb70d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  color: #FFFFFF;
  grid-column: 2 / 3;
  max-width: 10em;
}

.user-pantry > h3 {
  border-bottom: 4px solid black;
  font-size: 2em;
  margin-bottom: 6px;
  text-align: center;
}

.missing-ingredients > h3 {
  text-align: center;
}

.ingredient {
  text-align: left;
  text-transform: capitalize;
}

.amount {
  text-align: left;
  font-size: .8em;

}

.hidden {
  display: none;
}

.white-star {
  grid-area: a;
  height: 4em;
  width: 4em;
  z-index: 1;
}

.red-star {
  grid-area: a;
  height: 4em;
  width: 4em;
  z-index: 1;
}
