body, html, header {
  width: 100%;
  margin: none;
  padding: none;
}

body {
  /* background-color: #E5DACE */
  background-image: url(https://images.unsplash.com/photo-1524222717473-730000096953?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
}

header {
  background-image: url(https://images.unsplash.com/photo-1525034687081-c702010cb70d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  background-color: #C0C0C0;
  display: grid;
  grid-template-rows: 1fr 1fr 2em;
  grid-template-columns: 1fr 1fr 1fr;
}

h1 {
  color: #E4E8EB;
  margin: 0;
  font-size: 3em;
  font-style: italic;
  grid-row: 2 / 3;
  grid-column-start: 1;
  padding-left: 20px;
}

.user-profile-display {
  color: #E4E8EB;
  font-size: 22px;
  font-style: italic;
  font-weight: 500;
  grid-row: 1 / 2;
  grid-column-end: 4;
  padding-top: 7px;
  width: 16em;
  height: 2em;
  text-align: center;
  justify-self: end;
}

.search-input{
  background-color: #E4E8EB;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  height: 1.75em;
  margin: 0;
  padding: 0;
  box-shadow: none;
  outline: none;
}

.my-pantry-button,
.recipes-button{
  background-color: #3F5330;
  color: #E4E8EB;
  grid-row: 3 / 4;
  grid-column-end: 4;
  width: 8em;
  height: 2em;
  margin: 0;
  padding: 0;
  justify-self: end;
}

.cards-body,
.pantry-body{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h2 {
  color: #E4E8EB;
  margin: 0;
  text-align: center;
  /* background-image: url(https://images.unsplash.com/reserve/0y86gz4sT4O2ZQJIRWXE_IMG_0476.JPG?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60); */
  background-color: #3F5330;
}

.recipe-card{
  background-color: #E4E8EB;
  border: 3px solid #3F5330;
  border-radius: 2px;
  width: 24em;
  height: 25em;
  margin-top: 1em;
  display: grid;
  grid-template-areas: 'a';
}

.displayed-card {
  grid-area: a;
  position: absolute;
  z-index: 0;
}

.recipe-img {
  width: 22em;
  margin: 1em 1em 0 1em;
}

.recipe-name {
  text-align: center;
  font-weight: bold;
  color: #3F5330
}

.hidden-card {
  background-color: #FA8A42;
  grid-area: a;
  /* align-self: start;
  justify-self: start; */
  width: 29em;
  text-align: left;
  /* margin: 0 7em 0 7em; */
  /* position: absolute; */
  z-index: 2;
  opacity: 0;
  transition: all .6s ease-in-out;
  margin: 2em 0 0 -2em;
  line-height: 1.2em;
}

.recipe-card > .hidden-card:hover {
  opacity: .85;
   transform: scale(1)
}

.user-pantry,
.missing-ingredients{
  background-color: #FA8A42;
  border: 2px solid #3F5330;
  width: 16em;
  margin-top: 1em;
}

.user-pantry > h3 {
  text-align: center;
}

.missing-ingredients > h3 {
  text-align: center;
}

.ingredient {
  text-align: center;
}
.hidden {
  display: none;
}

.white-star {
width: 4em;
height: 4em;
grid-area: a;
z-index: 1;
}

.red-star {
  width: 4em;
  height: 4em;
  grid-area: a;
  z-index: 1;
}
